# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Libraries
vendor/*

# Compiled default binary
go_mux_sorts

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
